<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<title>Data Entered</title>

	<style type="text/css">
		body{
			font-weight: bolder;
		}
	</style>
</head>
<body>
	<p> Contact Information Submitted </p>
	<p> Name: <%= info.name %> </p>
	<p> Address: <%= info.address %> </p>
	<p> Contact by Phone: <%= info.contactPhone %> </p>
	<p> Contact by Mail:  <%= info.contactMail %></p>
	<p> Conatct by Email: <%= info.contactEmail %> </p>

	<a href="contacts">Contacts</a>   
</body>
</html>